* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.half-width {
  width: 50%;
}

.btn-primary {
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, orange, tomato);
  cursor: pointer;
}
.btn-primary a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

.p-txt {
  color: #828282;
}
.orange {
  color: orange;
}
.sub-head-txt {
  text-transform: uppercase;
  color: #676767;
}
.recp-card {
  width: 300px;
  align-items: center;
  height: 450px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.568);
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 30px;
}
.recp-card img {
  width: 280px;
  border-radius: 20px;
  height: 220px;
}
.recp-card p {
  text-align: justify;
  font-size: 0.9em;
}
.up-head {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.up-head .p-txt {
  margin: 20px auto;
}

.blog-card {
  background-color: #fff;
  content: "";
  clear: both;
  display: table;
  padding: 10px;
  box-shadow: 5px 5px 15px gray;
}
.blog-card img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
}
/*--Button-More--*/
.btn-more {
  background-color: white;
  border: 2px solid black;

  padding: 10px 25px;
  cursor: pointer;
}
.btn-more a {
  color: black;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

/*-- Common in Every pages --*/
/*-- Navigation section --*/
#nav {
  position: sticky;
  top: 0;
  background-color: white;
}

#nav .container {
  justify-content: space-between;
  align-items: center;
}
#nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  color: black;
}
#nav .btn-primary {
  margin-left: 40px;
}
#nav .nav-links li {
  display: inline-block;
  margin-left: 15px;
}
#nav .nav-links {
  margin-left: auto;
}
#nav .nav-links li a {
  color: black;
  transition: 0.2s;
}
#nav .nav-links li a:hover {
  color: orange;
}

/*-- Hero section --*/
#hero h1 {
  margin: 25px 0;
  font-size: 2.2em;
}
#hero .container {
  align-items: center;
}
#hero img {
  width: 400px;
  margin-left: 80px;
}
#hero .p-txt {
  margin: 40px auto;
}

/*-- Footer --*/
footer {
  text-align: center;
  padding: 50px 0;
  background-color: black;
}
footer h1 {
  color: white;
  margin: 20px auto;
  text-transform: uppercase;
}
footer {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
}
