.form-box {
  background-image: url(../images/contact-bg.jpg);
  background-size: 500px 500px;
  background-repeat: no-repeat;
  width: 500px;
  height: 400px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.397);
}
.form {
  color: white;
  width: 300px;
  height: 400px;
  background-color: rgba(255, 166, 0, 0.918);
  margin-left: 200px;
  padding: 30px;
}
.form p {
  text-transform: uppercase;
  font-weight: bold;
}
.form input {
  padding: 2px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-more {
  margin-top: 20px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}
